<template name="hublogs-row">
    <tr>
        <td><input type="hidden" text="{{LOG_ID}}"><a href="{{pathFor route="test"}}">{{REQUEST_ID}}</a></td>
        <td>{{MESSAGE_ID}}</td>
        <td>{{REQ_SERVICE_ID}}</td>
        <td>{{DATE_OF_LOG}}</td>
        <td>{{BRAND}}</td>
        <td>{{APP_CODE}}</td>
        <td>{{APP_NAME}}</td>
        <td>{{REGION}}</td>
        <td>{{USER_ID}}</td>
        <td>{{REQ_MESSAGE}}</td>
        <td>{{SERVICE_ID}}</td>
        <td>{{SERVICE_NAME}}</td>
        <td>{{SEVERITY}}</td>
        <td>{{LOG_CODE}}</td>
        <td>{{LOG_TEXT}}</td>
        <td>{{SOURCE_NAME}}</td>
        <td>{{PROVIDER}}</td>
        <td>{{LOG_MESSAGE}}</td>
        <td>{{THUNDERHEAD_CONTENT}}</td>
    </tr>
</template>