<template name="hubLogsLayout">
    <div id="wrapper">
        {{> header}}
        {{> slogans}}
        <div id="SeachHubLogsForm">
            {{> environments}}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">                        <div class="button-container">
                            <input type="reset" value="Clear Filter" class="btn-primary" id="clearFilter">
                            <input type="submit" value="Search" class="btn-primary" id="btnSearch">
                        </div>
                    </div>
                </div>
            </div>
            {{> hublogsFilterPanel}}

        </div>
        <table class="hublogsSearchResultsContainer">
            <thead>
            <tr>
                <th>RID</th>
                <th>MESSAGE_ID</th>
                <th>RSID</th>
                <th>TIME</th>
                <th>BRAND</th>
                <th>APP</th>
                <th>APP_NAME</th>
                <th>REGION</th>
                <th>USER_ID</th>
                <th>REQ_MESS</th>
                <th>SVC_ID</th>
                <th>SVC_NAME</th>
                <th>SEV</th>
                <th>LOG_CDE</th>
                <th>LOG_TEXT</th>
                <th>SRC_NAME</th>
                <th>PROVIDER</th>
                <th>LOG_MESS</th>
                <th>TH_REQ_CONTENT</th>
            </tr>
            </thead>
            <tbody>
            {{#each hubLogs}}
                <tr>
                    <!--<td><input type="hidden" text="{{LOG_ID}}"><a href="/ema/hublog/requestId/{{REQUEST_ID}}" class="req">{{REQUEST_ID}}</a></td>-->
                    <td><a href="" class="req">{{REQUEST_ID}}</a></td>
                    <td><a href="" class="messId">{{MESSAGE_ID}}</a></td>
                    <td>{{REQ_SERVICE_ID}}</td>
                    <td>{{DATE_OF_LOG}}</td>
                    <td>{{BRAND}}</td>
                    <td>{{APP_CODE}}</td>
                    <td>{{APP_NAME}}</td>
                    <td>{{REGION}}</td>
                    <td>{{USER_ID}}</td>
                    <td>{{REQ_MESSAGE}}</td>
                    <td>{{SERVICE_ID}}</td>
                    <td>{{SERVICE_NAME}}</td>
                    <td>{{SEVERITY}}</td>
                    <td>{{LOG_CODE}}</td>
                    <td>{{LOG_TEXT}}</td>
                    <td>{{SOURCE_NAME}}</td>
                    <td>{{PROVIDER}}</td>
                    <td>{{LOG_MESSAGE}}</td>
                    <td>{{THUNDERHEAD_CONTENT}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="push"></div>
    {{> footer}}
</template>



